@media (min-width: 1200px) {
    #experience .container {
      width: 860px;
    }
  }
  @media (max-width: 1360px) {
    .card ul li {
      font-size: 14px;
      line-height: 200%;
      margin-left: 20px;
    }
  }
  @media (max-width: 1160px) {
    .card ul li {
      line-height: 150%;
    }
  }
  @media (max-width: 992px) {
    main {
      padding-left: 0px;
      padding-top: 64px;
    }
    ul.side-nav a {
      line-height: 100%;
      padding: 0;
      width: 100%;
    }
    nav {
      background: #fff;
      height: 64px;
      position: absolute;
    }
    nav a.button-collapse,
    nav a.button-collapse i {
      color: #009688;
      height: 56px;
      line-height: 56px;
    }
    h3 {
      padding: 20px 30px;
      margin-bottom: 40px;
    }
    .container {
      margin: 0 auto;
    }
  
    nav.hide-on-large.only.trigger {
      display: block;
      position: fixed;
      top: 0;
      z-index: 2;
    }
    .name-title {
      display: block;
      height: 100%;
      padding-top: 15px;
      text-align: center;
      width: 100%;
      position: absolute;
    }
    .name-title > span,
    .name-title > a {
      position: relative;
      line-height: 20px;
    }
    .name-title a {
      font-size: 22px;
      display: block;
    }
    .name-title span {
      display: block;
      font-size: 14px;
    }
    h3,
    .container {
      position: relative;
      top: 64px;
    }
    section#intro {
      margin-bottom: -64px;
    }
    .card .role {
      position: relative;
      right: initial;
      top: initial;
    }
  }
  @media (max-width: 600px) {
    h2 {
      font-size: 22px;
      line-height: 200%;
      margin: 30px 0 0;
    }
    #intro.section .container *:not(span) {
      padding: 0;
    }
    .card .card-content .card-title {
      font-size: 20px;
      line-height: 24px;
    }
    #experience span.card-title {
      text-align: center;
      display: block;
    }
    #experience span.card-title a {
      margin: 0;
    }
    i.mdi-navigation-close.right {
      position: relative;
      bottom: 35px;
    }
    #contact a:not(.btn-floating) {
      text-align: center;
      display: block;
      left: initial;
      bottom: initial;
    }
    #contact a.btn-floating.btn-large {
      display: block;
      text-align: center;
      margin: 0 auto;
    }
    #intro.section {
      background-position-x: 30%;
    }
    div.row.text-center{
      display: flex;
      flex-wrap: wrap;
    }

  }